@layout('layouts/master')

@section('body')
  <h1>Test - deterministic variable</h1>
  <p id="content">1</p>
  <script>
    setTimeout(() => {
      const p = document.getElementById('content');
      p.innerHTML = '2';
      window.renderDoneVar = true;
      p.innerHTML = '3';
    }, 500);
  </script>
@end