@layout('layouts/master')

@section('body')
  <h1>IFrame requests never end</h1>
  <iframe
    id="embed"
    title="Embed"
    width="600"
    height="400"
    src="/tests/iframe-requests-never-end-embed">
  </iframe>
@end