@layout('layouts/master')

@section('head')
<script src="/assets/vue/index.iife.js" defer></script>
<link rel="stylesheet" href="/assets/vue/style.css">
@end

@section('body')
  <div id="app">foobar</div>
@end